---
---

$gold: #DAAA00;
$navy: #0C2340;
$white: #ffffff;

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-inverse {
  background-color: $navy;
  border-color: $navy;
  color: $navy;
}

.navbar-inverse .navbar-brand {
    color: $white;
}

.navbar-inverse .navbar-nav>li>a {
  color: $white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: $gold;

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: $gold;
    background-color: $navy;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: $navy;
}

.btn-primary {
  color: $white;
  background-color: $gold;
  border-color: $gold;
}

.btn-primary:hover {
  color: $navy;
  background-color: $white;
  border-color: $white;
}

.btn-primary:active {

}

.dropdown-menu {
  background-color: $navy;
}

.dropdown-menu>li>a {
  color: $white;
}

.navbar-inverse .navbar-toggle {
    border-color: $navy;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: $navy;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $navy;
}

.navbar-collapse {
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
}

.center {
  text-align: center;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

@media screen and (max-width: 1024px) {
 .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    padding-top: 30px;
    position: static;
    color: #000;
    text-shadow: none;
 }
}

#search {
    background-color: #0c2340;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 1px;
    color: #fff;
    box-shadow: none;
}

#search-btn {
    background-color: #0c2340;
    color: #fff;
    border: none;
}

.navbar-form {
  box-shadow: none;
}
