---
layout: default
---

{% include carousel.html %}
<div class="container">
  <h2 class="center">News</h2>
  <div class="row">
  {% for post in site.posts %}
  {% if forloop.index <= 3 %}
  <div class="col-sm-4">
    <div class="card">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap" width="100%">
        <div class="card-block">
            <h4 class="card-title">{{ post.title }}</h4>
            <h5>{{ post.date |  date: "%b %-d, %Y" }}</h5>
            <p class="card-text">{{ post.content | truncatewords: 30 }}</p>
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read More</a>
        </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  </div>
  <h2 class="center">Upcoming Events</h2>
  <div class="row">
    <div class="row">
      {% for event in site.upcomingevents %}
      <div class="col-sm-2">
        <h4 class="center">{{ event.title }}</h4>
        <img class="img-fluid" src="{{ event.image | prepend: site.url }}" alt="Event Image" width="100%">
        <time>{{ event.event_date | date: "%b %-d %Y" }}</time>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
