---
layout: default
---

<style media="screen">
            h1, h2, h3, h4, h4 {
        color: #0c2340;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

    }
</style>

<div  id="top" class="row" >
<div class="container inner" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="col-sm-8">
  <div class="col-sm-3">
    <img src="{{ page.image | prepend: site.url }}" alt="" class="img img-circle" width="100%" style="margin: 0 auto;
padding-top: 20px;
padding-bottom: 20px;"/>
  </div>
  <div id="title" class="col-sm-8">
    <h1 style="color: #ffffff;">{{ page.title }}</h1>
    <h4 style="color: #ffffff;">{{ page.job-title }}</h4>
  </div>
  </div>
</div>
</div>
<div class="inner container">
<h4>Department</h4>
<p>{{ page.department }}</p>
  <h4>Degrees</h4>
  <ul>
      {% for degree in page.degrees %}
      <li>{{ degree }}</li>
      {% endfor %}
  </ul>
<h4>Bio</h4>
<p>{{ page.description }}</p>
<h4>Contact</h4>
<a href="mailto:{{ page.email }}">{{ page.email }}</a>
<br>
<a class="btn btn-primary" href="javascript:history.go(-1)">Go Back</a>
</div>
</div>
