---
layout: default
---

<div class="container">
  <h2>Bible</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Bible"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Business</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Business"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Computer and Information Sciences</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Computer and Information Sciences"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Communications</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Communications"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>English</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "English"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>History</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "History"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Kinesiology</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Kinesiology"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Liberal Studies</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Liberal Studies"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Math</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Math"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Music</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Music"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Political Studies</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Political Studies"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}

  <h2>Sciences</h2>
  {% for faculty in site.faculty %}
   {% if faculty.department == "Sciences"%}
  <h3><a href="{{ faculty.url | prepend: site.url }}">{{ faculty.title }}</a></h3>
   {% endif %}
  {% endfor %}
</div>
